In [2]:
%matplotlib inline
import pandas as pd 
import matplotlib as mpl 
import numpy as np 
import matplotlib.pyplot as plt

In [8]:
net_mig_df = pd.read_csv('net_migration.csv')

In [9]:
net_mig_df

,Indicator Code,Country or Area Code,Country or Area,Time Code,Year,Value,Value Footnotes
0,SM.POP.NETM,AFG,Afghanistan,YR2012,2012,473007,NaN
1,SM.POP.NETM,AFG,Afghanistan,YR2007,2007,-677497,NaN
2,SM.POP.NETM,AFG,Afghanistan,YR2002,2002,804120,NaN
3,SM.POP.NETM,AFG,Afghanistan,YR1997,1997,-379474,NaN
4,SM.POP.NETM,AFG,Afghanistan,YR1992,1992,2227474,NaN
5,SM.POP.NETM,AFG,Afghanistan,YR1987,1987,-1484185,NaN
6,SM.POP.NETM,AFG,Afghanistan,YR1982,1982,-3418299,NaN
7,SM.POP.NETM,AFG,Afghanistan,YR1977,1977,-1117459,NaN
8,SM.POP.NETM,AFG,Afghanistan,YR1972,1972,-20000,NaN
9,SM.POP.NETM,AFG,Afghanistan,YR1967,1967,-20000,NaN
10,SM.POP.NETM,AFG,Afghanistan,YR1962,1962,-20000,NaN
11,SM.POP.NETM,ALB,Albania,YR2012,2012,-91750,NaN
12,SM.POP.NETM,ALB,Albania,YR2007,2007,-252926,NaN
13,SM.POP.NETM,ALB,Albania,YR2002,2002,-175406,NaN
14,SM.POP.NETM,ALB,Albania,YR1997,1997,-179606,NaN
15,SM.POP.NETM,ALB,Albania,YR1992,1992,-443212,NaN
16,SM.POP.NETM,ALB,Albania,YR1987,1987,-99,NaN
17,SM.POP.NETM,ALB,Albania,YR1982,1982,-99,NaN
18,SM.POP.NETM,ALB,Albania,YR1977,1977,-99,NaN
19,SM.POP.NETM,ALB,Albania,YR1972,1972,-99,NaN
20,SM.POP.NETM,ALB,Albania,YR1967,1967,-99,NaN
21,SM.POP.NETM,ALB,Albania,YR1962,1962,-99,NaN
22,SM.POP.NETM,DZA,Algeria,YR2012,2012,-143268,NaN
23,SM.POP.NETM,DZA,Algeria,YR2007,2007,-357340,NaN
24,SM.POP.NETM,DZA,Algeria,YR2002,2002,-205228,NaN
25,SM.POP.NETM,DZA,Algeria,YR1997,1997,-164413,NaN
26,SM.POP.NETM,DZA,Algeria,YR1992,1992,-128679,NaN
27,SM.POP.NETM,DZA,Algeria,YR1987,1987,-93302,NaN
28,SM.POP.NETM,DZA,Algeria,YR1982,1982,-81020,NaN
29,SM.POP.NETM,DZA,Algeria,YR1977,1977,-224833,NaN
...,...,...,...,...,...,...,...
2345,SM.POP.NETM,YEM,"Yemen, Rep.",YR1997,1997,-100000,NaN
2346,SM.POP.NETM,YEM,"Yemen, Rep.",YR1992,1992,672800,NaN
2347,SM.POP.NETM,YEM,"Yemen, Rep.",YR1987,1987,-50000,NaN
2348,SM.POP.NETM,YEM,"Yemen, Rep.",YR1982,1982,-50000,NaN
2349,SM.POP.NETM,YEM,"Yemen, Rep.",YR1977,1977,-75000,NaN
2350,SM.POP.NETM,YEM,"Yemen, Rep.",YR1972,1972,-353000,NaN
2351,SM.POP.NETM,YEM,"Yemen, Rep.",YR1967,1967,-245662,NaN
2352,SM.POP.NETM,YEM,"Yemen, Rep.",YR1962,1962,-100000,NaN
2353,SM.POP.NETM,ZMB,Zambia,YR2012,2012,-34490,NaN
2354,SM.POP.NETM,ZMB,Zambia,YR2007,2007,-124044,NaN
2355,SM.POP.NETM,ZMB,Zambia,YR2002,2002,-93014,NaN
2356,SM.POP.NETM,ZMB,Zambia,YR1997,1997,79445,NaN
2357,SM.POP.NETM,ZMB,Zambia,YR1992,1992,-22952,NaN
2358,SM.POP.NETM,ZMB,Zambia,YR1987,1987,2822,NaN
2359,SM.POP.NETM,ZMB,Zambia,YR1982,1982,58483,NaN
2360,SM.POP.NETM,ZMB,Zambia,YR1977,1977,17573,NaN
2361,SM.POP.NETM,ZMB,Zambia,YR1972,1972,26662,NaN
2362,SM.POP.NETM,ZMB,Zambia,YR1967,1967,-4245,NaN
2363,SM.POP.NETM,ZMB,Zambia,YR1962,1962,2500,NaN
2364,SM.POP.NETM,ZWE,Zimbabwe,YR2012,2012,-219922,NaN
2365,SM.POP.NETM,ZWE,Zimbabwe,YR2007,2007,-307650,NaN
2366,SM.POP.NETM,ZWE,Zimbabwe,YR2002,2002,-395554,NaN
2367,SM.POP.NETM,ZWE,Zimbabwe,YR1997,1997,-200000,NaN
2368,SM.POP.NETM,ZWE,Zimbabwe,YR1992,1992,-191803,NaN
2369,SM.POP.NETM,ZWE,Zimbabwe,YR1987,1987,120505,NaN
2370,SM.POP.NETM,ZWE,Zimbabwe,YR1982,1982,141524,NaN
2371,SM.POP.NETM,ZWE,Zimbabwe,YR1977,1977,-101516,NaN
2372,SM.POP.NETM,ZWE,Zimbabwe,YR1972,1972,-30360,NaN
2373,SM.POP.NETM,ZWE,Zimbabwe,YR1967,1967,-27996,NaN
2374,SM.POP.NETM,ZWE,Zimbabwe,YR1962,1962,-10001,NaN

In [33]:
net_use_df = pd.read_csv('internet_use_minor.csv', nrows=4496)
# net_use_df = pd.read_csv('internet_use_minor.csv',error_bad_lines=False)

# net_use_df = pd.read_csv('internet_use_minor.csv',skipfooter=182,engine='python')

net_use_df.head(10)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN
6     Afghanistan  2008  1.840000              NaN
7     Afghanistan  2007  1.900000              NaN
8     Afghanistan  2006  2.107124              NaN
9     Afghanistan  2005  1.224148              NaN